.clients {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(--background-color);
}
.contentContainer {
    width: 88%;
    display: flex;
    flex-direction: column;
}
.content {
    width: 100%;
    padding: 10px;
}
.headerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: var(--main-color);
    padding: 10px;
}
.header h2 {
    font-size: 30px;
    color: white;
}
.leftSide {
    width: fit-content;
}
.rigthSide {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 10px;
}
.rigthSide button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: none;
    background-color: white;
    border-radius: 8px;
    color: var(--main-color);
    display: none;
}
.inputContainer {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 0 2%;
    border-radius: 8px;
    transition: .3s;
}
.inputContainer label {
  font-size: 25px;
  color: var(--main-color);
  cursor: pointer;
}
.inputContainer input {
    display: none;
  width: 100%;
  outline: none;
  border: none;
  padding: 7px;
  font-size: 20px;
  background-color: transparent;
  color: var(--text-color);
}
.inputContainer.open {
    width: 100%;
    justify-content: space-between;
}
.inputContainer.open input {
    display: inline;
}
.tableContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}
.tableHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tableHead h3 {
    font-size: 30px;
}
.tableHead button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background-color: #9b77f14f;
    color: var(--main-color);
    cursor: pointer;
    transition: .3s;
}
.tableHead button:hover {
    background-color: var(--main-color);
    color: white;
}
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.actions button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.actions button:first-child {
    background-color: #9b77f14f;
    color: var(--main-color);
}
.actions button:first-child:hover {
    background-color: var(--main-color);
    color: white;
}
.actions button:last-child {
    background-color: rgba(253, 89, 89, 0.575);
    color: red;
}
.actions button:last-child:hover {
    background-color: red;
    color: white;
}
.addContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    z-index: 1000;
}
.addContent {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 10px;
}
.title {
    width: 100%;
    text-align: center;
}
.title h3 {
    font-size: 30px;
    color: var(--text-color);
}
.title button {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 25px;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.form button {
    width: 100%;
    height: 50px;
    font-size: 25px;
    border: none;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 8px;
}
@media(max-width: 767px) {
    .rightSide {
        width: 65%;
    }
    .rigthSide button {
        display: block;
    }
    .contentContainer {
        width: 100%;
    }
    .header h2 {
        font-size: 20px;
    }
}