.finance {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
}
.contentContainer {
    width: 88%;
    display: flex;
    flex-direction: column;
}
.headerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: var(--main-color);
    padding: 10px;
}
.header h2 {
    font-size: 30px;
    color: white;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btns button {
    width: 39px;
    height: 39px;
    font-size: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.btns button:last-child {
    display: none;
}
.content {
    width: 100%;
    padding: 10px;
}
.balanceContainer {
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top h3 {
    font-size: 30px;
}
.top button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background-color: #9b77f14f;
    color: var(--main-color);
    cursor: pointer;
    transition: .3s;
}
.top button:hover {
    background-color: var(--main-color);
    color: white;
}
.bottom {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}
.bottom strong {
    font-size: 30px;
}
.tableContainer {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.tableHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tableHead h3 {
    font-size: 30px;
}
.tableHead button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background-color: #9b77f14f;
    color: var(--main-color);
    cursor: pointer;
    transition: .3s;
}
.tableHead button:hover {
    background-color: var(--main-color);
    color: white;
}
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.actions button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.actions button:first-child {
    background-color: #9b77f14f;
    color: var(--main-color);
}
.actions button:first-child:hover {
    background-color: var(--main-color);
    color: white;
}
.actions button:last-child {
    background-color: rgba(253, 89, 89, 0.575);
    color: red;
}
.actions button:last-child:hover {
    background-color: red;
    color: white;
}
.progressBar {
  width: 100%;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progressFill {
  height: 100%;
  background: var(--main-color);
  transition: width 0.3s ease-in-out;
}


@media(max-width: 767px) {
    .contentContainer {
        width: 100%;
    }
    .header h2 {
        font-size: 20px;
    }
    .btns {
        gap: 0;
    }
    .btns button {
        font-size: 20px;
    }
    .btns button:last-child {
        display: block;
    }
    .tableContainer {
        overflow: scroll;
    }
}