* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #8b5cf6;
  --gold-color: #f59e0b;
  --background-color: #e7e7e7;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans';
}
.main {
  width: 100%;
  min-height: 100vh;
}
.inputContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--second-color);
  padding: 0 2%;
  border-radius: 8px;
}
.inputContainer label {
  font-size: 20px;
  color: var(--main-color);
}
.inputContainer input {
  width: 100%;
  outline: none;
  border: none;
  padding: 7px;
  font-size: 20px;
  background-color: transparent;
  color: var(--text-color);
}
.inputContainer select {
  width: 100%;
  outline: none;
  padding: 7px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
}
table {
  width: 100%;
  text-align: center;
}
table, th, td {
  padding: 20px;
  border-collapse: collapse;
  color: var(--text-color);
}
thead th {
  position: sticky;
  top: 0;
  background-color:  var(--second-color);
}
tbody tr:nth-child(even) {
    background-color: var(--second-color);
}