.blanceContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.firstBox {
    background-color: var(--main-color);
    color: var(--text-color);
}
.secondBox {
    background-color: var(--gold-color);
    color: var(--text-color);
}
.theredBox {
    background-color: var(--text-color);
    color: black;
}
.totalContainer {
    width: 24%;
    height: 150px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    transition: .3s;
}
.totalContainer:hover {
    box-shadow: 0 0 14px 0px rgba(0, 0, 0, .5);
}
.salesIcon {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.377);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.personIcon {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; 
}
.moneyIcon {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: var(--text-color);
    background-color: #11182775;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
@media(max-width: 767px) {
    .blanceContainer {
        padding: 0 10px;
    }
    .totalContainer {
        width: 48%;
    }
}